

.container {
    margin-top: 10px;
   
    
}
html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
    
}
#header {
    display: flex;
    justify-content: space-between;
}

/* #header #left{
    display:flex;
    justify-content: space-between;
} */

#header #right {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

#header #search {
    display: none;
}

#header #logout-div {
    display: none;
}

#errormessage {
    color: red;
}

#footer-player{
    position: relative;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    
    width: 100%;
    z-index: 1;
    height: 100px;
    
    background-color: yellow;
    border: solid black 1px;;

}

#content {

    font-weight: bold;
    font-size: large;
    font-stretch: expanded;


}